workflow/LogAI.json
{
  "name": "LogAI",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "id": "f11da877-aae2-45f6-ac14-78fbd9b0bfd5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -3648,
        256
      ]
    },
    {
      "parameters": {
        "url": "http://LogAI:8765/list_targets",
        "options": {}
      },
      "id": "c697428b-b6eb-4953-927f-266083ebfac9",
      "name": "Get Targets",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3232,
        256
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "5d3f48ff-56b0-40dd-965d-474a812716bb",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2848,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://LogAI:8765/fetch_single",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "containers",
              "value": "={{ [ $json.name ] }}"
            },
            {
              "name": "hours",
              "value": "24"
            }
          ]
        },
        "options": {}
      },
      "id": "5e29cd15-5a83-4b93-89b2-add8e1a17302",
      "name": "Fetch Log & Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        640
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "empty"
            }
          ]
        },
        "options": {}
      },
      "id": "dff134c1-8558-4c7a-a62e-554d729f2644",
      "name": "Is Empty?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2096,
        624
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "=You are a Senior DevOps & Security Engineer analyzing the {{ $('Split In Batches').item.json.type }}: {{ $('Split In Batches').item.json.name }}\n\n### DATA PROVIDED:\n1. **Live Stats:** {{ $json.stats }}\n2. **Log History:** Last 24 hours of container logs (provided in context).\n\n### PHASE 1: RECALL & CHECK (MANDATORY)\n1. **TOOL USAGE:** You have a tool called `search_past_logs`. You MUST use this tool immediately to check if this container has failed before.\n2. **CONTEXT CHECK:** If the tool returns matches, you must explicitly mention them as \"Recurring Issues\" in your analysis.\n\n### PHASE 2: ANALYSIS GUIDELINES\nAnalyze the logs carefully using the following framework. Do not output this framework directly, but use it to formulate your JSON response.\n\n* **Root Cause:** Identify one clear cause. If unknown, state what is missing.\n* **Impact:** Is functionality broken, limited, or unaffected?\n* **Severity:** Rate 1–5 (1=Negligible, 5=Critical).\n* **Evidence:** Focus only on relevant lines; interpret them, don't just quote them.\n* **Noise Filter:** Ignore \"200 OK\", routine health checks, and standard info messages.\n\n### PHASE 3: OUTPUT FORMAT\nYou must output a single, valid JSON object. Do NOT wrap it in markdown code blocks (like ```json). Just the raw JSON.\n\nStructure:\n{\n  \"status\": \"healthy|degraded|critical\",\n  \"issues\": [\n    \"Most Likely Root Cause: [One clear sentence]\",\n    \"Impact: [Functionality status]\",\n    \"Severity: [1-5] - [Justification]\",\n    \"Key Evidence: [Brief interpretation of specific log lines]\",\n    \"Recurring Issue: [Mention if found via tool, otherwise omit]\"\n  ],\n  \"summary\": \"Short, concise explanation of what is happening. Include actionable next steps.\"\n}"
        }
      },
      "id": "4dd7ab7b-e57d-4923-9f27-7abcd7ecc36f",
      "name": "AI Investigator",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1584,
        608
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "qwen2.5:14b",
        "options": {
          "numCtx": 16384,
          "format": "json"
        }
      },
      "id": "15a6004f-f923-444a-b5ec-cfa70460f517",
      "name": "Ollama Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -1616,
        1024
      ],
      "credentials": {
        "ollamaApi": {
          "id": "sk9Q3yfmSnqp79gS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "search_past_logs",
        "toolDescription": "ALWAYS call this tool first. Searches the database for historical error patterns related to the specific container. Input must be the container name (e.g., 'radarr').",
        "qdrantCollection": {
          "__rl": true,
          "value": "log_history",
          "mode": "list",
          "cachedResultName": "log_history"
        },
        "options": {}
      },
      "id": "1c92d337-0e3e-43e0-b83c-f6b8acd082be",
      "name": "Recall Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1,
      "position": [
        -1520,
        864
      ],
      "credentials": {
        "qdrantApi": {
          "id": "SxTIdzBiWczNOycI",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "f01230e0-7bfc-4150-bfdf-72be20543660",
      "name": "Embeddings (Recall)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -1520,
        1024
      ],
      "credentials": {
        "ollamaApi": {
          "id": "sk9Q3yfmSnqp79gS",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the raw text output from the AI\n// Note: Depending on the Agent version, output might be in .output or .text\nconst raw = items[0].json.output || items[0].json.text || \"{}\";\n\n// CLEANUP: Remove markdown code blocks if the AI added them\nconst clean = raw.replace(/```json/g, '').replace(/```/g, '').trim();\n\ntry {\n  // Parse the text into a JSON object\n  const data = JSON.parse(clean);\n  \n  // Re-attach the container name so the email knows which container this is\n  // We grab this from the 'Split In Batches' node\n  data.target_name = $('Split In Batches').first().json.name;\n  \n  return { json: data };\n} catch(e) {\n  // If parsing fails, return a \"Critical\" error so we get alerted\n  return { json: {\n    target_name: $('Split In Batches').first().json.name,\n    status: \"critical\",\n    issues: [\"AI JSON Parse Error\", e.message],\n    summary: \"The AI failed to format the report correctly. Raw output: \" + raw.substring(0, 100)\n  }};\n}"
      },
      "id": "ed595fab-2cdd-4f67-ac4b-3d8d3cc7858c",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        1136
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.status }}",
              "value2": "healthy"
            }
          ]
        },
        "options": {}
      },
      "id": "e67c8ee4-2c11-4908-bf47-d02f07d8e1ed",
      "name": "Is Healthy?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -2400,
        1136
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nomic-embed-text"
            },
            {
              "name": "prompt",
              "value": "={{ $json.target_name }}: {{ $json.summary }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "embedding_response"
            }
          }
        }
      },
      "id": "d56b16b5-7d35-414f-beea-5945b8780f03",
      "name": "Generate Vector",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2144,
        1120
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "http://192.168.50.200:6333/collections/log_history/points",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "points",
              "value": "={{ [{\n  \"id\": Math.floor(Math.random() * 1000000000), \n  \"vector\": typeof $json.embedding_response === 'string' ? JSON.parse($json.embedding_response).embedding : $json.embedding_response.embedding,\n  \"payload\": {\n    \"container\": $('Parse JSON').first().json.target_name,\n    \"summary\": $('Parse JSON').first().json.summary,\n    \"timestamp\": new Date().toISOString()\n  }\n}] }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text",
              "outputPropertyName": "qdrant_response"
            }
          }
        }
      },
      "id": "a1da40df-5c35-48f9-9ab9-2f8517fb3335",
      "name": "Save to Qdrant (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1968,
        1120
      ]
    },
    {
      "parameters": {
        "jsCode": "// --- CONFIGURATION: DEFINE YOUR STACKS ---\nconst CATEGORIES = [\n  { id: 'mailcow', title: '📧 Mailcow Stack', keywords: ['mailcow', 'dovecot', 'postfix', 'acme-mailcow'] },\n  { id: 'immich', title: '📸 Immich Stack', keywords: ['immich'] },\n  { id: 'media', title: '🍿 Media & Arr Stack', keywords: ['sonarr', 'radarr', 'lidarr', 'bazarr', 'prowlarr', 'overseerr', 'jellyseerr', 'qbittorrent', 'flaresolverr', 'plex', 'jellyfin', 'tautulli', 'whisper'] },\n  { id: 'networking', title: '🌐 Networking & Proxy', keywords: ['nginx', 'cloudflare', 'pihole', 'unbound', 'wireguard', 'tailscale'] },\n  { id: 'management', title: '🛠️ Server Management', keywords: ['beszel', 'glances', 'portainer', 'tugtainer', 'dockge', 'watchtower', 'logai', 'n8n'] },\n  { id: 'office', title: '📄 Office & Docs', keywords: ['paperless', 'stirling', 'nextcloud', 'pdf'] },\n  { id: 'system', title: '🖥️ System Logs', keywords: ['/var/log', 'syslog', 'kern.log', 'auth.log'] }\n];\n\nconst MISC_CATEGORY = { id: 'misc', title: '📦 Miscellaneous' };\n\n// --- STYLE DEFINITIONS ---\nconst STYLES = {\n  Healthy: {\n    bg: \"#e6f4ea\", text: \"#1e8e3e\", icon: \"🟢\",\n    cardBg: \"#ffffff\", cardBorder: \"#eee\"\n  },\n  Degraded: {\n    bg: \"#fef7e0\", text: \"#b06000\", icon: \"🟡\",\n    cardBg: \"#fffdf5\", cardBorder: \"#f0e68c\"\n  },\n  Critical: {\n    bg: \"#fce8e6\", text: \"#c5221f\", icon: \"🔴\",\n    cardBg: \"#fff5f5\", cardBorder: \"#ffcccc\"\n  }\n};\n\n// --- 1. DATA GATHERING ---\nconst sourceNode = 'Loop End';\nlet allRuns = [];\nlet runIndex = 0;\nlet safetyBreak = 0;\n\nwhile (safetyBreak < 500) {\n  try {\n    const items = $(sourceNode).all(0, runIndex);\n    if (!items || items.length === 0) break;\n    allRuns = allRuns.concat(items);\n    runIndex++;\n    safetyBreak++;\n  } catch (e) { break; }\n}\nif (allRuns.length === 0) {\n  try { allRuns = $(sourceNode).all(); } catch(e) {}\n}\n\n// --- 2. DATA SORTING & GROUPING ---\nlet groups = {};\nCATEGORIES.forEach(c => groups[c.id] = { title: c.title, green: [], yellow: [], red: [] });\ngroups['misc'] = { title: MISC_CATEGORY.title, green: [], yellow: [], red: [] };\n\nlet counts = { critical: 0, degraded: 0, healthy: 0 };\n\nfor (const run of allRuns) {\n  const data = run.json;\n  if (!data || data.status === \"skipped\") continue;\n\n  // Defaults & Cleanup\n  if (!data.target_name) data.target_name = \"Unknown Container\";\n  \n  // Smart Summary Replacement\n  if (!data.summary || data.summary.includes(\"No summary available\")) {\n      if (data.status && data.status.toLowerCase() === 'healthy') {\n          data.summary = \"No significant anomalies detected in recent logs.\";\n      } else {\n          data.summary = \"⚠️ Analysis incomplete. Please check Debug Data below.\";\n      }\n  }\n\n  // Grab Raw Logs for Debugging\n  data.debug_log = data.raw_logs || data.logs || data.input || data.log_content || \"No raw log data found in input JSON.\";\n\n  // Determine Category\n  let catId = 'misc';\n  const lowerName = data.target_name.toLowerCase();\n  for (const cat of CATEGORIES) {\n    if (cat.keywords.some(k => lowerName.includes(k))) {\n      catId = cat.id;\n      break;\n    }\n  }\n\n  // Determine Status Bucket\n  const statusLower = (data.status || '').toLowerCase();\n  \n  if (statusLower === 'healthy') {\n    groups[catId].green.push(data);\n    counts.healthy++;\n  } else if (statusLower === 'degraded') {\n    groups[catId].yellow.push(data);\n    counts.degraded++;\n  } else {\n    groups[catId].red.push(data);\n    counts.critical++;\n  }\n}\n\n// --- 3. HTML GENERATION ---\nconst createRow = (item, type) => {\n  const style = STYLES[type];\n  \n  // Critical Severity Logic\n  let borderColor = style.cardBorder;\n  let bgColor = style.cardBg;\n  if (type === \"Critical\" && Array.isArray(item.issues)) {\n    const isSevere = item.issues.some(i => i.includes(\"Severity: 5\") || i.includes(\"Severity: 4\"));\n    if (isSevere) borderColor = \"#d32f2f\";\n  }\n\n  // Build Issues HTML\n  let issuesHtml = \"\";\n  if (type !== \"Healthy\" && Array.isArray(item.issues)) {\n    issuesHtml += `<div style=\"margin-top: 10px; font-size: 13px; color: #444; border-top: 1px solid ${borderColor}; padding-top: 8px;\">`;\n    item.issues.forEach(issue => {\n       const parts = issue.split(':');\n       if (parts.length > 1) {\n           const key = parts[0].trim();\n           const val = parts.slice(1).join(':').trim();\n           const keyStyle = (key.includes(\"Root Cause\") || key.includes(\"Severity\")) ? \"color:#d32f2f;\" : \"color:#000;\";\n           issuesHtml += `<div style=\"margin-bottom: 4px;\"><strong style=\"${keyStyle}\">${key}:</strong> ${val}</div>`;\n       } else {\n           issuesHtml += `<div style=\"margin-bottom: 4px;\">• ${issue}</div>`;\n       }\n    });\n    issuesHtml += `</div>`;\n  }\n\n  // Truncate logs\n  let safeLog = typeof item.debug_log === 'string' ? item.debug_log : JSON.stringify(item.debug_log, null, 2);\n  if (safeLog.length > 2000) safeLog = safeLog.substring(0, 2000) + \"\\n... [Logs Truncated] ...\";\n\n  // Build Debug HTML (ONLY IF NOT HEALTHY)\n  let debugHtml = \"\";\n  if (type !== \"Healthy\") {\n      debugHtml = `\n      <details style=\"margin-top: 10px; border-top: 1px dashed ${borderColor}; padding-top: 5px;\">\n        <summary style=\"cursor: pointer; font-size: 11px; color: #888; font-weight: bold; user-select: none;\">🔍 Show Debug Data</summary>\n        <div style=\"margin-top: 5px; background: #f1f1f1; padding: 8px; border-radius: 4px; overflow-x: auto;\">\n            <pre style=\"margin: 0; font-size: 10px; font-family: monospace; color: #333; white-space: pre-wrap;\">${safeLog.replace(/</g, '&lt;')}</pre>\n        </div>\n      </details>`;\n  }\n\n  // The Row HTML\n  return `\n  <div style=\"background-color: ${bgColor}; border: 1px solid ${borderColor}; border-radius: 6px; padding: 12px; margin-bottom: 10px; box-shadow: 0 1px 2px rgba(0,0,0,0.05);\">\n    \n    <div style=\"display:flex; justify-content:space-between; align-items:center;\">\n        <div style=\"display: flex; align-items: center; gap: 10px;\">\n           <span class=\"badge\" style=\"background-color: ${style.bg}; color: ${style.text}; display: inline-flex; align-items: center; padding: 4px 12px; border-radius: 999px; font-weight: bold; font-size: 11px; text-transform: uppercase;\">\n             ${style.icon} &nbsp; ${item.status || type}\n           </span>\n           <span style=\"font-weight: bold; font-size: 15px; color: #333;\">${item.target_name}</span>\n        </div>\n    </div>\n\n    <div style=\"font-size: 14px; color: #555; margin-top: 8px; font-style: italic; padding-left: 4px; line-height: 1.4;\">\n       ${item.summary}\n    </div>\n    \n    ${issuesHtml}\n    ${debugHtml}\n\n  </div>`;\n};\n\n// --- BUILD HTML ---\nlet html = `\n<div style=\"font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #333; max-width: 800px; margin: auto;\">\n  <style>\n    .badge { border-radius: 999px; white-space: nowrap; }\n    details > summary { list-style: none; }\n    details > summary::-webkit-details-marker { display: none; }\n  </style>\n  <h2 style=\"border-bottom: 2px solid #333; padding-bottom: 10px;\">Daily Infrastructure Report</h2>\n  <div style=\"margin-bottom: 20px;\">\n    <strong>Status:</strong> \n    ${counts.critical === 0 && counts.degraded === 0 \n      ? '<span style=\"color:#1e8e3e; font-weight:bold;\">All Systems Operational</span>' \n      : `<span>\n           ${counts.critical > 0 ? `<span style=\"color:#c5221f; font-weight:bold;\">${counts.critical} Critical</span> ` : ''}\n           ${counts.degraded > 0 ? `<span style=\"color:#b06000; font-weight:bold;\">${counts.degraded} Degraded</span>` : ''}\n         </span>`\n    }\n  </div>\n`;\n\nconst allCats = [...CATEGORIES, MISC_CATEGORY];\n\nfor (const cat of allCats) {\n  const group = groups[cat.id];\n  if (group.green.length === 0 && group.yellow.length === 0 && group.red.length === 0) continue;\n\n  html += `<h3 style=\"margin-top: 30px; background-color: #f8f9fa; padding: 10px; border-radius: 6px; border-left: 5px solid #555;\">${group.title}</h3>`;\n\n  if (group.red.length > 0) {\n    html += `<div style=\"margin-bottom: 5px; color: #c5221f; font-weight:bold; font-size:12px; margin-left: 2px;\">⚠️ CRITICAL ISSUES</div>`;\n    group.red.forEach(item => { html += createRow(item, \"Critical\"); });\n  }\n\n  if (group.yellow.length > 0) {\n    html += `<div style=\"margin-top: 15px; margin-bottom: 5px; color: #b06000; font-weight:bold; font-size:12px; margin-left: 2px;\">⚠️ DEGRADED PERFORMANCE</div>`;\n    group.yellow.forEach(item => { html += createRow(item, \"Degraded\"); });\n  }\n\n  if (group.green.length > 0) {\n    if (group.red.length > 0 || group.yellow.length > 0) {\n        html += `<div style=\"margin-top: 15px; margin-bottom: 5px; font-size: 12px; color: #1e8e3e; font-weight:bold; margin-left: 2px;\">OPERATIONAL</div>`;\n    }\n    group.green.forEach(item => { html += createRow(item, \"Healthy\"); });\n  }\n}\n\nhtml += `<div style=\"margin-top: 40px; font-size: 11px; color: #999; text-align: center; border-top: 1px solid #eee; padding-top: 10px;\">Generated by LogAI Agent • ${new Date().toLocaleDateString()}</div></div>`;\n\nif (allRuns.length === 0) html += \"<p>No logs processed.</p>\";\n\nlet subject = \"Daily Report: All Systems Green\";\nif (counts.critical > 0) subject = `🚨 Daily Report: ${counts.critical} Critical Issues`;\nelse if (counts.degraded > 0) subject = `⚠️ Daily Report: ${counts.degraded} Degraded Services`;\n\nreturn { json: { html, subject } };"
      },
      "id": "ae80ffd2-61ec-44d8-9abf-a3b7d123f534",
      "name": "Build HTML Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2544,
        240
      ]
    },
    {
      "parameters": {
        "fromEmail": "logs@gabsthejerks.cc",
        "toEmail": "gabs@gabsthejerks.cc",
        "subject": "={{ $json.subject }}",
        "html": "={{ $json.html }}",
        "options": {}
      },
      "id": "48ebf52a-4c2d-4a7c-985e-f0469044593b",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -2320,
        240
      ],
      "webhookId": "ea0c5c1d-ad91-48eb-9aee-34edb3657510",
      "retryOnFail": false,
      "credentials": {
        "smtp": {
          "id": "ixWsbR8Qah9bnr43",
          "name": "mailcow smtp"
        }
      }
    },
    {
      "parameters": {},
      "id": "29465b24-6fd0-4fe9-a61e-306382b297ef",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -2112,
        240
      ],
      "webhookId": "wait-hook"
    },
    {
      "parameters": {
        "fieldToSplitOut": "targets",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3056,
        256
      ],
      "id": "e0142354-9e78-48cb-b693-db1c7c0dd858",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Hard limit to ~12,000 characters (approx 3,000 tokens)\n// This leaves plenty of room for the AI's response within the 16k limit\nconst MAX_CHARS = 12000; \n\nfor (const item of items) {\n  let content = item.json.content || \"\";\n  \n  if (content.length > MAX_CHARS) {\n    // Keep the LAST 12,000 characters (the most recent logs)\n    // We discard the old stuff at the beginning\n    item.json.content = \"...[LOGS TRUNCATED FOR SIZE]...\\n\" + content.slice(-MAX_CHARS);\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1872,
        608
      ],
      "id": "84163f3d-600e-4049-a241-fa266f02c3d8",
      "name": "Truncate Logs"
    },
    {
      "parameters": {
        "jsCode": "// Get the error details\nconst errorData = items[0].json || {};\n\n// ROBUST NAME FINDING:\n// 1. Try modern syntax\n// 2. Try the node directly\n// 3. Fallback to \"Unknown\"\nlet name = \"Unknown Container\";\ntry {\n    // Try to grab the name from the Split In Batches node for the CURRENT item\n    name = $('Split In Batches').item.json.name; \n} catch(e) {\n    try {\n       // Fallback for older n8n versions\n       name = $('Split In Batches').first().json.name;\n    } catch(e2) {}\n}\n\nreturn {\n  json: {\n    target_name: name,\n    status: \"critical\",\n    issues: [\"Workflow Error: \" + (errorData.message || errorData.error || \"Timeout/Crash\")],\n    summary: \"The workflow failed to process this container. It likely timed out or the logs were too large.\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2304,
        864
      ],
      "id": "331c0e82-7bea-4a14-b88d-10a63905951e",
      "name": "Handle Error"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1984,
        864
      ],
      "id": "ab929003-ae6c-4ea2-ba14-f9fe985f4707",
      "name": "Loop End"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "83f3d9f9-a8ff-44f8-8a27-4c875177444d",
              "name": "target_name",
              "value": "={{ $('Parse JSON').first().json.target_name }}",
              "type": "string"
            },
            {
              "id": "b5ec30d4-2ffb-4eaf-9862-5fdd84b52ed1",
              "name": "summary",
              "value": "={{ $('Parse JSON').first().json.summary }}",
              "type": "string"
            },
            {
              "id": "21a1a3f1-c770-4437-8f5f-a2a9ed037d13",
              "name": "status",
              "value": "={{ $('Parse JSON').first().json.status }}",
              "type": "string"
            },
            {
              "id": "a42cdde6-2369-4501-a196-9b55c7d388fe",
              "name": "issues",
              "value": "={{ $('Parse JSON').first().json.issues }}",
              "type": "string"
            },
            {
              "id": "872a76f2-8e14-4742-80f1-9fe4ec4fbc4e",
              "name": "raw_logs",
              "value": "={{ $('Truncate Logs').item.json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1808,
        1120
      ],
      "id": "d2649646-ad76-48f6-8d0f-3bef8104396b",
      "name": "Restore Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"qwen2.5:14b\",\n  \"keep_alive\": 0\n}",
        "options": {}
      },
      "id": "9180a1de-43b7-4e03-b468-909aae781c11",
      "name": "Unload qwen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1888,
        240
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/embeddings",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"nomic-embed-text:latest\",\n  \"keep_alive\": 0\n}",
        "options": {}
      },
      "id": "36012b96-04b9-416c-93fe-e9acd328b56a",
      "name": "Unload nomic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1696,
        240
      ]
    },
    {
      "parameters": {
        "command": "CONTAINERS=\"sonarr bazarr frigate radarr n8ndb mailcowdockerized jellyfin homarr\"; for container in $CONTAINERS; do LOG_PATH=$(sudo docker inspect $container 2>/dev/null | grep \"\\\"LogPath\\\":\" | cut -d '\"' -f 4); if [ ! -z \"$LOG_PATH\" ]; then sudo truncate -s 0 \"$LOG_PATH\"; fi; done"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -3424,
        128
      ],
      "id": "19ab51d5-3b1e-4143-a932-b46307b429ed",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "eDu9c8gG3AkBnUUB",
          "name": "SSH to gabs-server"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -3424,
        384
      ],
      "id": "70248572-b617-496a-99ff-2a177673a70e",
      "name": "pause"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "3fa81929-222b-4565-9da0-70f2b2593e0e",
              "leftValue": "={{ $json.type }}",
              "rightValue": "file",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2688,
        560
      ],
      "id": "00a1532d-e145-4c1a-8c99-428cf631f6bc",
      "name": "Check Target Type"
    },
    {
      "parameters": {
        "command": "=TARGET=\"{{ $('Split In Batches').item.json.name }}\"\n\nif [ -f \"$TARGET\" ]; then\n    sudo tail -n 2000 \"$TARGET\"\n\nelse\n    case \"$TARGET\" in\n        *kern.log) sudo journalctl -k -n 2000 --no-pager ;;\n        *auth.log) sudo journalctl -u ssh -n 2000 --no-pager ;;\n        *syslog)   sudo journalctl -n 2000 --no-pager ;;\n        *)         echo \"⚠️ ERROR: Log file '$TARGET' not found and no journal mapping exists.\" ;;\n    esac\nfi"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        -2512,
        432
      ],
      "id": "a956fc5f-c10a-423d-a32c-6fed1e8f6306",
      "name": "Fetch File via SSH",
      "credentials": {
        "sshPassword": {
          "id": "eDu9c8gG3AkBnUUB",
          "name": "SSH to gabs-server"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f45dafdc-c363-4e45-b67c-78bc362b6183",
              "name": "content",
              "value": "={{ $json.stdout }}",
              "type": "string"
            },
            {
              "id": "86531788-459b-446b-92bc-1bfecd84e077",
              "name": "stats",
              "value": "Host System File",
              "type": "string"
            },
            {
              "id": "8f24c25e-1e83-4c21-b7b2-7d1c056c9f18",
              "name": "name",
              "value": "={{ $('Split In Batches').item.json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2320,
        432
      ],
      "id": "cfd28567-0758-44c3-8dea-c50dfee3a7cb",
      "name": "Format Log Data"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Targets": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Build HTML Report",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Target Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Log & Stats": {
      "main": [
        [
          {
            "node": "Is Empty?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Empty?": {
      "main": [
        [
          {
            "node": "Truncate Logs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Investigator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Recall Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Investigator",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Investigator": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Is Healthy?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Healthy?": {
      "main": [
        [
          {
            "node": "Generate Vector",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Vector": {
      "main": [
        [
          {
            "node": "Save to Qdrant (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Qdrant (HTTP)": {
      "main": [
        [
          {
            "node": "Restore Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build HTML Report": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Unload qwen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings (Recall)": {
      "ai_embedding": [
        [
          {
            "node": "Recall Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate Logs": {
      "main": [
        [
          {
            "node": "AI Investigator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Loop End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop End": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Restore Data": {
      "main": [
        [
          {
            "node": "Loop End",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unload qwen": {
      "main": [
        [
          {
            "node": "Unload nomic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "pause",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pause": {
      "main": [
        [
          {
            "node": "Get Targets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Target Type": {
      "main": [
        [
          {
            "node": "Fetch File via SSH",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Log & Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch File via SSH": {
      "main": [
        [
          {
            "node": "Format Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Log Data": {
      "main": [
        [
          {
            "node": "Is Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Europe/Bucharest",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "bd3c611b-784c-45e2-862e-76f9eaa88404",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "945d902d315d0ed841b4da46f271ff7c90c39d1326a1417667904c972618bcff"
  },
  "id": "G9i9ju5pMCgUD4Po",
  "tags": []
}